body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("http://www.ruralroot.org/wp/wp-content/uploads/2017/06/gray-noise-background.jpg");
    overflow: hidden;
}
.card{
    display: flex;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}
.card-image {
    grid-area: image;
    background: url("https://t4.ftcdn.net/jpg/02/97/79/83/360_F_297798377_VB9egqGnRKcZxU53wybEHLRnnTrcvlAH.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}
.card-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px;
}
.card-stat{
    grid-area: stat;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}
.card-stat .statu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
    position: absolute;
    
}
.card-stat .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;

}
.card-stat .value{
    font-size: 22px;
    font-weight: 500;
}
.card-stat .border {
    border-left: 1px solid rgb(127, 26, 87);
    border-right: 1px solid rgb(127, 26, 87);
}
.card-stat .value sub{
    font-size: 12px;
}
/* .card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
} */